.jumbotron
  .add_button
    =link_to "Add category", new_admins_category_path, class: 'btn btn-primary'
  .container
    .row
      %table.table.table-striped
        %thead
          %tr
            %th Id
            %th Name
            %th Subcategories
            %th Action
        %tbody
          -@categories.each do |category|
            %tr
              %td= category.id
              %td= link_to "#{category.name}", admins_category_path(category)
              %td
                -category.subcategories.each do |subcategory|
                  =subcategory.name + ","
              %td
                = link_to " ", edit_admins_category_path(category), class: 'glyphicon glyphicon-edit no-text-decoration'
                = link_to " ", admins_category_path(category), method: :delete, class: 'glyphicon glyphicon-trash no-text-decoration'
