.jumbotron
  .container
    .row
      %table.table.table-striped
        %thead
          %tr
            %th Id
            %th e-mail
            %th sign in coount
            %th created at
            %th admin
            %th action
        %tbody
          -@users.each do |user|
            %tr
              %td= user.id
              %td= link_to "#{user.email}", admins_user_path(user)
              %td= user.sign_in_count
              %td= user.created_at
              %td= user.admin
              %td
                =link_to " ", edit_admins_user_path(user), class: 'glyphicon glyphicon-edit'
                =link_to " ", admins_user_path(user), method: :delete, class: 'glyphicon glyphicon-trash'