%nav.navbar.navbar-inverse{ role: 'navigation' }
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#bs-example-navbar-collapse-1' }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to 'E-SHOP', admin_root_path, class: 'navbar-brand'

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav

        -if signed_in? && current_user.admin?
          %li= link_to 'Users', admin_users_path
          %li= link_to 'Categories', admin_categories_path
          %li= link_to 'Product', admin_products_path
<<<<<<< HEAD:app/views/admin/partials/_menu.html.haml
=======
          %li= link_to 'Gallery'#, admin_product_gallery_path
>>>>>>> gallery:app/views/admin/partials/_menu.html.haml
          %li= link_to 'Pages'
          %li= link_to 'Modules'

      %ul.nav.navbar-nav.navbar-right

        -if signed_in? && current_user.admin?
          %li
            %p.navbar-text= current_user.email
          %li= link_to 'Sign out', destroy_user_session_path, method: :delete
