.jumbotron
  .add_button
    =link_to "Add product", new_admins_product_path, class: 'btn btn-primary'
  .container
    %table.table.table-striped
      %thead
        %tr
          %th Id
          %th Image
          %th Name
          %th Description
          %th Created
          %th Updated
          %th Price
          %th Status
          %th Action
      %tbody
        - @products.each do |product|
          %tr
            %td= product.id
            %td= image_tag product.image_url(:thumb)
            %td= link_to "#{product.title}", admins_product_path(product)
            %td= truncate(product.description, length: 160, separator: " ")
            %td= product.created_at
            %td= product.updated_at
            %td= product.price
            %td
              -if product.status == true
                %button.btn.btn-xs.btn-success{ type: 'button' } Active
              -else
                %button.btn.btn-xs.btn-danger{ type: 'button' } Not Active
            %td
              = link_to " ", edit_admins_product_path(product), class: 'glyphicon glyphicon-edit'
              = link_to " ", admins_product_path(product), method: :delete, class: 'glyphicon glyphicon-trash'
